log_level = "info"

consul {
  address = "http://localhost:8500"
}

buffer_period {
  min = "5s"
  max = "20s"
}

{{range services}}{{ if .Tags | contains "consul-ingress-alb=${region}" }}
service {
  name = "{{.Name}}"
  tag = "consul-ingress-alb=${region}"
  description = "all instances of the {{.Name}} service tagged with consul-ingress-alb=${region}"
}
{{end}}{{end}}

task {
  name = "consul-service-ingress-${region}"
  description = "automate load balancer synchronization"
  source = "/local/sync-module"
  services = ["dummy", {{range services}}{{ if .Tags | contains "consul-ingress-alb=${region}" }}"{{.Name}}",{{end}}{{end}}]
  buffer_period {
    min = "10s"
  }
}

driver "terraform" {
  log = true
  persist_log = false
  working_dir = "/local/"
  path = "/local/"
  backend "consul" {
    gzip = true
  }
}