{
  "data_dir": "/opt/nomad/client",
  "advertise": {
    "http": "$${IP_ADDR}:4746",
    "rpc": "$${IP_ADDR}:4747",
    "serf": "$${IP_ADDR}:4748"
  },
  "client": {
    "enabled": true
  },
  "acl": {
    "enabled": ${acl_enabled}
  },
  "consul": {
    "address": "$${IP_ADDR}:8500"
  }
}